

<%- include('partials/header') %>
    <main>
        <h1><%= title %></h1>
        <p>Here are our service categories:</p>
        <ul>
            <% categories.forEach(category => { %>
                <li><strong><%= category.name %></strong></li>
            <% }); %>
        </ul>
    </main>
<%- include('partials/footer') %>